<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Patient</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <h1 class="first">New Patient Detail</h1>
    <form method="post" action="/patients">
        <div class="new">
            <h4>Name: <input placeholder="Name" name="name" class="N_Name" /></h4>
            <br>
            <h4>Age: <input placeholder="Age" name="age" class="N_Age" /></h4>
            <br>
            <h4>City: <input placeholder="City" name="city" class="N_City" /></h4>
            <br>
            <h4>Problem: <input placeholder="Problem" name="problem" class="N_Problem" /></h4>
            <br>
            <button class="submit">Submit</button>
        </div>
    </form>
</body>

</html>